* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

#root div {
    width: 100%;
}

#aba-senha {
    margin: auto;
    margin-top: 10em;
}

a {
    color: #000000;
    text-decoration: none; /* no underline */
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e2e0e2;
    z-index: 100;
}

.header {
    width: 90%;
    height: 70px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 28px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.ajuda {
    color: #61005D;
}

.botao-chamado {
    all: unset;
    height: 48px;
    padding: 0 28px;
    border-radius: 28px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #61005D;
    cursor: pointer;
    transition: .1s linear;
}

.botao-chamado:hover {
    background-color: #95008e;
}

.main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    /* padding-top: 70px; */
}

#switch-flex-ajustado {
    width: 90%;
    max-width: 900px;
    height: 50px;
    background-color: #F1F1F1;
    margin:auto;
    margin-top: 50px;
    border-radius: 50px;
    display: flex;
}

.switch-item {
    all: unset;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.switch-item.selecionado {
    color: #FFFFFF;
    background-color: #61005D;
}

.categorias-flex {
    display: flex;
    gap: 10px;
    margin-top: 50px;
}

.categorias-item {
    width: 90px !important;
    height: 120px;
    text-align: center;
    flex-shrink: 0;
    cursor: pointer;
}

.container-img {
    width: 75px !important;
    height: 75px;
    background-color: #F1F1F1;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.container-img:hover {
    background-color: #D5D2D5;
}

.container-img img {
    max-width: 75%;
    max-height: 75%;
}

.container-img p {
    color: #61005D;
    font-size: 25px;
}

.lista-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 24px;
}

.lista-item {
    width: 100%;
}

.lista-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}