* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

a {
    color: #000000;
    text-decoration: none; /* no underline */
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 420px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
}

.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
}

.titulo {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid #D5D2D5;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #D5D2D5;
}

.input-box span {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.botao-logar {
    width: 100%;
    height: 45px;
    background-color: #61005D;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    transition: .1s linear;
}

.botao-logar:hover {
    background-color: #95008e;
}

.esqueceu-senha {
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}